.select {
  border: 1px solid #ccc;
  line-height: 40px;
  padding: 0 15px;
  position: relative;
}

.select__placeholder {
  user-select: none;
  cursor: pointer;
}

.select__options {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #ccc;
  width: 100%;
}
